scipy==1.11.4
numpy==1.26.4
matplotlib==3.8.0
opencv-python-headless==4.8.1.78
torch==2.1.2
torchvision==0.16.2
tqdm==4.66.1
Pillow==10.1.0
pyyaml==6.0.1
streamlit==1.28.0
opencv-python>=4.8.0
h5py==3.8.0
tensorboard
pandas==2.3.3
torchinfo==1.8.0
streamlit_webrtc==0.63.11
ultralytics==8.3.229


# YOLOv8n基础模型训练
#无显卡，使用cpu
# python3 train.py --epochs 50 --imgsz 640 --device cpu --batch-size 4 --weights ./yolov8n.pt

# 冻结训练
# python3 train.py --epochs 100 --freeze --freeze-epochs 50 --device cpu
#预测命令
# python3 predict.py --tiny --cuda \
#    --weights runs/detect/train/weights/best.pt \
#    --shape 640

#streamlit交互界面打开命令
#  streamlit run gesture.streamlit.py
